@mixin blazon-flag {
    display: inline-block;
    position: relative;
    -webkit-box-shadow: inset 0 0 2px #a32b07;
    -moz-box-shadow: inset 0 0 30px #a32b07;
    box-shadow: inset 0px 0px 1.5px 0px #a32b07;
}

@mixin blazon-size($size-content) {
    width: #{map-get($size-content, width)}px;
    height: #{map-get($size-content, height)}px;
    border-radius: #{map-get($size-content, radius)}px;
}

@mixin blazon-square($size-content) {
    width: #{map-get($size-content, height)}px;
}

.blazon-glossy:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: 50%;
    border-radius: 2px;
    background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.2))
}
